.name{
    //background-color: green;
    text-align: left;
}


.footer-container{
    width: 100vw;
    padding-top: 10px;
    padding-left: 0;
    background-color: $black;
    text-align: left;
  }


.footer-container ul {
    list-style: none;
    margin: 0 0px 0 -10px;
    font-size: 12px;
    font-family: 'FuturaBTWXX-Bold', helvetica, sans-serif;
    letter-spacing: 4px;;
    line-height: 35px;
    text-transform: uppercase;
}

.footer-container ul li{
    width: 50.1%;
    background-color: $black;
    padding-left: 10px;
}

.footer-container ul li:hover{
    background-color: $nav-hover;
}

.footer-container ul a{
    color: #ffffff;
}

.footer-spacer-bottom{
    height: 4vh;
    background-color: $black;
}

#active-malerei .nav-malerei, #active-objekte .nav-objekte, #active-fotografie .nav-fotografie, #active-vita .nav-vita, #active-aktuelles .nav-aktuelles, #active-impressum .nav-impressum{
    background-color: $nav-active;
}