.name{
    //background-color: green;
    text-align: left;
}


#footer-container{
    width: 100vw;
    padding-top: 10px;
    background-color: $black;
    text-align: left;
  }


#footer-container ul {
    list-style: none;
    margin: 0;
    
    font-size: 12px;
    font-family: 'FuturaBTWXX-Bold', helvetica, sans-serif;
    letter-spacing: 4px;;
    line-height: 35px;
    text-transform: uppercase;
}

#footer-container a{
    color: #ffffff;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .name{
        //text-align: center;
    }

    #footer-container{
        //text-align: center;
    }
}

.footer-spacer-bottom{
    height: 4vh;
    background-color: $black;
}