.name{
    //background-color: green;
    text-align: left;
}


#footer-container{
    width: 100vw;
    padding-top: 10px;
    background-color: #111111;
    text-align: left;
  }


#footer-container ul {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 4px;;
    line-height: 45px;
}

#footer-container a{
    color: #ffffff;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .name{
        //text-align: center;
    }

    #footer-container{
        //text-align: center;
    }
}

.footer-spacer-bottom{
    height: 4vh;
    background-color: #111111;
}