/*   SLIDER   */
.slider-spacer-top{
    height: 5vh;
}
.slider-spacer-bottom{
    height: 5vh;
}

#main-content{
    background-color: $white;
}

.slider{
    //background-color: red;
    height: 500px;
    position: relative;
}

.slider img{
    display: none;
    max-width: 99%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
}

.slider img.active{
    display: inline-block;
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .slider img.active{
        margin: 0 auto;
    }
}

/*   ARROWS AND COUNTER   */
.slider-nav{
    //background-color: #94d610;
    margin-top: 10px;
}

.arrow-container{
    float: left;
    margin-top: 3px;
}

.prev, .next{
    cursor: pointer;
}

.prev{
    z-index: 100;
    margin-right: 10px;
}

.next{
    z-index: 101;
    margin-left: 10px;
}

.counter-container{
    float: left;
}

#counter{
    font-family: verdana;
    font-size: 12px;
    padding-top: -5px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {

}

/*   INFO TEXT   */
.slider-info{
    margin-top: 10px;
}

.slider-info p{
    display: none;
}

.slider-info p.active-p{
    display: block;
}

.image-title{
    font-family: verdana;
    font-size: 12px;
}

.image-description{
    font-family: verdana;
    font-size: 12px;
}

