/*   SLIDER   */
.slider-spacer-top{
    height: 5vh;
}
.slider-spacer-bottom{
    height: 5vh;
}

#main-content{
    background-color: $white;
}

/*  SLIDER  */

.content-body{
    //background-color: pink;
}

.content-wrapper{
    //background-color: yellow;
}

.content-container{
    //background-color: green;
    height: 600px;
    display: none;
}

.content-container.active{
    display: block;
}

.slides-container{
    //background-color: blue;
    max-width: 70%;
    height: 100%;
    float: left;
    position: relative;
}

.slides{
    width: 100%;
    height: 600px;
    vertical-align: bottom;
    display: table-cell;
}


.infos-container{
    //background-color: turquoise;
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
}

.infos{
    padding-left: 20px;
    position: absolute;
    bottom: 0;
}

.slider-navigation{
    float: left;
}

.counter-container{
    float: left;
}

.counter{
    font-family: verdana;
    font-size: 12px;
    padding-top: -5px;
}



/*   ARROWS AND COUNTER   */

.arrow-container{
    float: left;
    margin-top: 3px;
}

.prev, .next{
    cursor: pointer;
}

.prev{
    z-index: 100;
    margin-right: 10px;
}

.next{
    z-index: 101;
    margin-left: 10px;
}




/*   INFO TEXT   */
.image-title{
    font-family: verdana;
    font-size: 12px;
}

.image-description{
    font-family: verdana;
    font-size: 12px;
}





/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}
/* Small only */
@media screen and (max-width: 39.9375em) {
}