
    <div class="row">
        <div class="columns small-10 small-offset-1">
            <ul>
                <a href="index.html">
                    <li class="nav-malerei">
                        Malerei
                    </li>
                </a>
                <a href="objekte.html">
                    <li class="nav-objekte">
                        Objekte
                    </li>
                </a>
                <a href="fotografie.html">
                    <li class="nav-fotografie">
                        Fotografie
                    </li>
                </a>
                <a href="vita.html">
                    <li class="nav-vita">
                       Vita
                    </li>
                </a>
                <a href="aktuelles.html">
                    <li class="nav-aktuelles">
                        Aktuelles
                    </li>
                </a>
                <a href="impressum.html">
                    <li class="nav-impressum">
                        Impressum
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 footer-spacer-bottom"></div>
    </div>
