<div id="footer-container" class="row expanded">
    <div class="columns small-10 small-offset-1 footer-nav">
        <ul>
            <li>
                <a href="#">Malerei</a>
            </li>
            <li>
                <a href="#">Objekte</a>
            </li>
            <li>
                <a href="#">Fotografie</a>
            </li>
            <li>
                <a href="#">Vita</a>
            </li>
            <li>
                <a href="#">Aktuelles</a>
            </li>
            <li>
                <a href="#">Kontakt</a>
            </li>
            <li>
                <a href="#">Impressum</a>
            </li>
        </ul>
    </div>
</div>