<!doctype html>
<html class="no-js" lang="en">

<head>
  <title>{{meta-title}} | Stefanie Keppler, Künstlerin</title>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--  FAVICON  -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{root}}assets/img/icon/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{root}}assets/img/icon/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{root}}assets/img/icon/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{root}}assets/img/icon/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{root}}assets/img/icon/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{root}}assets/img/icon/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{root}}assets/img/icon/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{root}}assets/img/icon/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/img/icon/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{root}}assets/img/icon/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/icon/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{root}}assets/img/icon/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/img/icon/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{root}}assets/img/icon/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta name="description" content="{{meta-description}}">
  <meta name="keywords" content="Stefanie, Keppler, Stefanie Keppler, Kunst, Malerei, Fotografie, Objekte, Krefeld, Nordrhein Westfalen">
  
  <link rel="stylesheet" href="{{root}}assets/MyFontsWebfontsKit.css">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>

  {{> body}}



  <script src="{{root}}assets/js/app.js"></script>

  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


  <!--  SLIDER  -->
  <script type="text/javascript">

    $(document).ready(function () {
      var images = $('.content-wrapper > .content-container');

      var index = images.index($('.active'));
      $('.counter').text((index + 1) + ' / ' + images.length);

      $('.next').on('click', function () {
        var currentImg = $('.active');
        var nextImg = currentImg.next();

        if (nextImg.length) {
          currentImg.removeClass('active').css('z-index', -10);
          nextImg.addClass('active').css('z-index', 10);


          var index = images.index(nextImg);
          $('.counter').text((index + 1) + ' / ' + images.length);
        }
      });

      $('.prev').on('click', function () {
        var currentImg = $('.active');
        var prevImg = currentImg.prev();

        if (prevImg.length) {
          currentImg.removeClass('active').css('z-index', -10);
          prevImg.addClass('active').css('z-index', 10);

          var index = images.index(prevImg);
          $('.counter').text((index + 1) + ' / ' + images.length);
        }
      });
    });

  </script>


</body>

</html>